:root {
    --inputBorderColor: rgb(0, 204, 255);
    --text-color: rgb(156, 156, 156);
    --active-background-color: rgb(50, 50, 50);
    --table-cell-background-color: rgb(26, 26, 26);
    --table-border-color: rgb(50, 50, 50);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
    font-family: monospace;
}

body {
    background-color: black;
    color: var(--text-color);
    height: 100%;
}

h1 {
    margin-bottom: 1rem;
}

input[type=text], input[type=password], input[type=number] {
    width: 100%;
    padding: 5px;
    border-radius: 4px;
    border-color: white;
}

input[type=text]:hover, input[type=password]:hover {
    border-color: var(--inputBorderColor);
} 

input[type=text]:focus, input[type=password]:focus {
    box-shadow: 1px 1px 10px 3px var(--inputBorderColor);
}

.page {
    padding: 1rem;
    max-width: 750px;
    height: 100%;
    margin: auto;
}

.fill-height {
    height: 100%;
}

.block {
    margin-top: .5rem;
    margin-bottom: .5rem;
}

.ma-0 {
    margin: 0;
}

.mb-1 {
    margin-bottom: .2rem;
}

.mb-2 {
    margin-bottom: .4rem;
}

.mt-1 {
    margin-top: .2rem;
}

.mt-2 {
    margin-top: .4rem;
}

.ml-1 {
    margin-left: .2rem;
}

.mr-2 {
    margin-right: .4rem;
}

.pa-1 {
    padding: .2rem;
}

.pa-2 {
    padding: .4rem;
}

.pa-4 {
    padding: .8rem;
}

.flex {
    display: flex;
    width: 100%;
}

.flex-row {
    flex-direction: row;
}

.flex-align-center {
    align-items: center;
}

.flex-column {
    flex-direction: column;
}

.flex-grow {
    flex: 1;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}

.label {
    margin-bottom: 3px;
    font-weight: bold;
}

.btn {
    padding: 2px 5px;
    border: none;
    background-color: white;
    transition-duration: .2s;
    cursor: pointer;
    border-radius: 3px;
}

.btn.primary {
    background-color: springgreen;
}

.btn.outlined {
    background-color: black;
    color: white;
    border: 1px solid whitesmoke;
}

.btn.text {
    padding: 1px 3px;
    border: none;
    color: white;
    background-color: transparent;
}

.btn:hover {
    box-shadow: 1px 1px 10px 3px white;
}

.btn:disabled {
    background-color: var(--table-border-color);
}

.btn:disabled:hover {
    box-shadow: none;
}

.tabs{
    padding: 5px 10px;
}

.tab-name {
    display: inline-block;
    padding: 5px 10px;
}

.btn.active {
    background-color: var(--active-background-color);
}

.table {
    width: 100%;
    text-align: left;
    border-collapse: collapse;
    border: 1px solid var(--table-border-color);
    overflow-x: auto;
    white-space: nowrap;
    display: block;
}

.table tbody {
    display: table;
    width: 100%;
}

.table tr td {
    padding: 5px;
    border-top: 1px solid var(--table-border-color);
    max-width: 250px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.table.cell tr td:nth-child(even) {
    background-color: var(--table-cell-background-color);
}

.table tr:hover {
    background-color: rgb(75, 75, 75);
}

.table tr:hover td:nth-child(even) {
    background-color: rgb(65, 65, 65);
}

.clickable {
    cursor: pointer;
}

.clickable:hover {
    background-color: var(--active-background-color) !important;
}

.clickable.active {
    background-color: var(--active-background-color) !important;
}

.scroll-y {
    overflow-y: auto;
    max-height: 100%;
}

.sticky {
    position: sticky;
    top: 0;
    z-index: 2;
}

.box-padding {
    padding: 10px;
}

.display-none {
    display: none;
}

.textarea {
    resize: none;
    outline: none;
    width: 100%;
    border: none;
    padding: 5px;
    background-color: rgb(50, 50, 50);
    caret-color: whitesmoke;
    color: springgreen;
}