<script>
    export let show = false;
    function close() {
        show = false;
    }
</script>

<div class="modal-background {show ? 'modal-active' : ''}" on:click={close}>
    <div class="modal">
        <slot />
    </div>
</div>

<style>
    .modal-background {
        position: fixed;
        top: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.85);
        height: 100vh;
        width: 100vw;
        z-index: 20;
        display: none;
    }

    .modal-background.modal-active {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .modal-background .modal {
        background-color: black;
    }
</style>
