<script>
    import InputText from "./InputText.svelte";
    import InputPassword from "./InputPassword.svelte";
    import InputNumber from "./InputNumber.svelte";
    import { connections } from "../stores/connections";
    import { onMount } from "svelte";
    import { connectionOptions } from "../stores/connectionOptions";
    import Icon from "./Icon.svelte";
    import Error from "./Error.svelte";
    import Loading from "./Loading.svelte";

    let activeOption = null;
    onMount(() => {
        activeOption = connectionOptions.getLastUsedOption();
        if (activeOption) {
            applySavedConnectionOption(activeOption);
        }
    });

    let optionName = "";
    let host = "";
    let user = "";
    let password = "";
    let database = "";
    let port = 3306;
    let err = "";
    let loading = false;
    const login = async () => {
        loading = true;
        try {
            await connections.initConnection({
                host,
                user,
                password,
                database,
                port,
            });
        } catch (e) {
            console.error(e);
            err = e;
        } finally {
            loading = false;
        }
    };

    const applySavedConnectionOption = (option, i) => {
        optionName = option.name;
        host = option.host;
        user = option.user;
        password = option.password;
        database = option.database;
        port = option.port;

        connectionOptions.setLastUsed(option.id);
        document
            .querySelectorAll(".connection-options")
            .forEach((connectionOption, index) => {
                if (index === i) {
                    connectionOption.classList.add("active");
                } else {
                    connectionOption.classList.remove("active");
                }
            });
    };

    function saveOption() {
        if (!optionName) {
            err = "Connection name needed";
            return;
        }
        connectionOptions.saveOption({
            host,
            user,
            password,
            database,
            port,
            name: optionName,
        });
    }
</script>

<section class="page flex flex-column flex-align-center">
    <h1>My Simple MySQL</h1>
    {#if loading}
        <Loading />
    {:else}
        <div class="flex">
            <div class="box-padding flex-grow">
                <InputText
                    classNames="block"
                    title="Connection Name"
                    bind:value={optionName}
                />
                <InputText
                    classNames="block"
                    placeholder="localhost"
                    title="Host"
                    bind:value={host}
                />
                <InputText classNames="block" title="User" bind:value={user} />
                <InputPassword
                    classNames="block"
                    title="Password"
                    bind:value={password}
                />
                <InputText
                    classNames="block"
                    title="Database"
                    bind:value={database}
                />
                <InputNumber
                    classNames="block"
                    placeholder="3306"
                    title="Port"
                    bind:value={port}
                />
                <div class="text-right">
                    <button class="btn" on:click={saveOption}>
                        <div class="flex flex-align-center">
                            <Icon icon="save" />
                            <div class="ml-1">Save Option</div>
                        </div>
                    </button>
                    <button class="btn primary ml-1" on:click={login}>
                        <div class="flex flex-align-center">
                            <Icon icon="storage" />
                            <div class="ml-1">Connect</div>
                        </div>
                    </button>
                </div>
            </div>
            {#if $connectionOptions.length > 0}
                <div class="box-padding flex-grow">
                    <table class="table">
                        <tbody>
                            <tr>
                                <td>
                                    <strong> Name</strong>
                                </td>
                                <td />
                            </tr>
                            {#each $connectionOptions as connectionOption, i}
                                <tr
                                    class="connection-options clickable {connectionOption.id ===
                                    (activeOption || {}).id
                                        ? 'active'
                                        : ''}"
                                    on:click={() =>
                                        applySavedConnectionOption(
                                            connectionOption,
                                            i
                                        )}
                                >
                                    <td>
                                        {connectionOption.name}
                                    </td>
                                    <td class="text-right">
                                        <button
                                            class="btn outlined"
                                            on:click|stopPropagation={() =>
                                                connectionOptions.deleteSavedConnectionOption(
                                                    connectionOption.id
                                                )}
                                        >
                                            <Icon icon="delete" />
                                        </button>
                                    </td>
                                </tr>
                            {/each}
                        </tbody>
                    </table>
                </div>
            {/if}
        </div>
        <Error {err} />
        <div class="mt-2">
            <h1>Short Cuts</h1>
            <div>
                <strong class="mr-2">Toggle Sidebar</strong>
                <span>ctrl + b</span>
            </div>
            <div>
                <strong class="mr-2"> Add connection </strong>
                <span>ctrl + 0</span>
            </div>
            <div>
                <strong class="mr-2"> Change Tabs </strong>
                <span>ctrl + 1 ~ 9</span>
            </div>
            <div>
                <strong class="mr-2"> Close Current Tab </strong>
                <span>ctrl + w</span>
            </div>
        </div>
    {/if}
</section>
