<script>
    import { connections } from "../stores/connections";
    import { currentConnectionIndex } from "../stores/currentConnectionIndex";

    $: filteredConns = ($connections || []).filter(
        (conn) => conn && conn.connectionInfo
    );
</script>

{#if filteredConns.length > 0}
    <div class="tabs">
        <span
            class="tab-name clickable"
            on:click={async () => await connections.addInitConnection()}
        >
            +
        </span>
        {#each filteredConns as conn, i}
            <span
                class="tab-name mr-1 clickable {i === $currentConnectionIndex
                    ? 'active'
                    : ''}"
                on:click={() => connections.changeConnection(i)}
            >
                {conn.connectionInfo.database ||
                    conn.connectionInfo.host ||
                    "localhost" + `::${conn.connectionInfo.port}`}
                <button
                    on:click={() => connections.removeConnection(i)}
                    class="btn text">X</button
                >
            </span>
        {/each}
    </div>
{/if}
