<script>
    import Error from "./Error.svelte";
    import Loading from "./Loading.svelte";
    import { currentConnection } from "../stores/connections";
</script>

<div class="pa-4">
    {#if $currentConnection.connectionInfo.table}
        {#await $currentConnection.showCreateTable()}
            <div class="text-center">
                <Loading />
            </div>
        {:then createTable}
            <pre>
            {createTable}
        </pre>
        {:catch err}
            <Error {err} />
        {/await}
    {/if}
</div>
