<script>
    import { showRowValue } from "../scripts/format";
    import { connections } from "../stores/connections";
    import Loading from "./Loading.svelte";
    import Error from "./Error.svelte";

    let query = "";
    let promise = null;
</script>

<div class="mb-1">
    <button
        class="btn primary"
        on:click={() =>
            (promise = connections.getCurrentConnection().customQuery(query))}
    >
        Run
    </button>
</div>
<textarea class="mb-1 textarea" rows="20" bind:value={query} />

{#await promise}
    <Loading />
{:then result}
    {#if result}
        <div class="mb-2">
            <table class="table cell">
                <tbody>
                    <tr>
                        {#each result.columns as column}
                            <td>{column}</td>
                        {/each}
                    </tr>
                    {#each result.rows as row}
                        <tr>
                            {#each result.columns as column}
                                <td>
                                    {showRowValue(row[column])}
                                </td>
                            {/each}
                        </tr>
                    {/each}
                </tbody>
            </table>
        </div>
    {/if}
{:catch err}
    <Error {err} />
{/await}
