<script>
    import { connections, currentConnection } from "../stores/connections";
    import Icon from "./Icon.svelte";
</script>

<div class="flex flex-align-center mb-1 pa-1">
    <strong class="flex-grow">Database</strong>
    <button
        on:click={() => connections.getCurrentConnection().useDatabase(null)}
        class="btn text"
        title="change database"
    >
        <Icon icon="logout" />
    </button>
</div>
<hr class="mb-1" />
<div class="active mb-1 pa-1">
    {$currentConnection.connectionInfo.database}
</div>

<style>
    .active {
        background-color: var(--active-background-color);
    }
</style>
