<script>
    import { connections, currentConnection } from "../stores/connections";
    import Loading from "./Loading.svelte";
    import Error from "./Error.svelte";
</script>

<section class="page flex flex-column flex-align-center">
    <div>
        <h1 class="mb-1">Select Database</h1>
        <hr class="mb-2" />
    </div>
    {#await $currentConnection.getDatabases()}
        <Loading />
    {:then databases}
        <div class="mb-2">
            {#each databases || [] as database}
                <div
                    class="clickable mb-1 pa-1 {$currentConnection
                        .connectionInfo.database === database
                        ? 'active'
                        : ''}"
                    on:click={async () =>
                        await connections.useDatabase(database)}
                >
                    {database}
                </div>
            {/each}
        </div>
    {:catch err}
        <Error {err} />
    {/await}
</section>
