<script>
    export let err = null;
</script>

{#if err}
    <div class="error text-center">
        {err}
    </div>
{/if}

<style>
    .error {
        background-color: rgb(131, 0, 0);
        color: whitesmoke;
        width: 100%;
        padding: 10px;
        margin-top: 10px;
    }
</style>
