<script>
    export let icon;
    export let size = "m";
</script>

<img class={size} src="./assets/images/icons/{icon}.svg" alt={icon} />

<style>
    .s {
        width: 0.8rem;
    }

    .m {
        width: 1rem;
    }

    .l {
        width: 1.5rem;
    }
</style>
