<script>
    export let title;
    export let value = "";
    export let classNames = "";
</script>

<div class={classNames}>
    <div class="label">
        <label>{title}</label>
    </div>
    <input type="password" bind:value />
</div>
