<script>
    export let title;
    export let value = "";
    export let min = 0;
    export let max = 0;
    export let placeholder = "";
    export let classNames = "";
</script>

<div class={classNames}>
    <div class="label">
        <label>{title}</label>
    </div>
    <input {placeholder} type="number" bind:value {min} {max} />
</div>
