<script>
    import Icon from "./Icon.svelte";
    export let placeholder = "";
    export let title = "";
    export let icon = null;
    export let value = "";
    export let classNames = "";

    import { createEventDispatcher } from "svelte";
    const dispatch = createEventDispatcher();
</script>

<div class={classNames}>
    {#if icon || title}
        <div class="flex flex-align-center label">
            {#if icon}
                <Icon {icon} />
            {/if}
            {#if title}
                <label class="ml-1">{title}</label>
            {/if}
        </div>
    {/if}
    <input
        type="text"
        bind:value
        {placeholder}
        on:keyup={() => dispatch("keyup", value)}
    />
</div>
