<script>
    import TableNames from "./TableNames.svelte";
    import TableRows from "./TableRows.svelte";
    import CreateTable from "./CreateTable.svelte";
    import CustomQuery from "./CustomQuery.svelte";
    import { connections, currentConnection } from "../stores/connections";
    import { currentConnectionIndex } from "../stores/currentConnectionIndex";
    import Icon from "./Icon.svelte";
    import InputText from "./InputText.svelte";

    let shrinked = false;
    let tabs = [
        {
            value: 0,
            name: "Rows",
            component: TableRows,
        },
        {
            value: 1,
            name: "Table Details",
            component: CreateTable,
        },
        {
            value: 2,
            name: "Custom Query",
            component: CustomQuery,
        },
    ];
    let tabValue = 0;

    function setTabValue(value) {
        tabValue = value;
    }

    let shortCutTimer = null;
    document.onkeyup = async (e) => {
        if (shortCutTimer !== null) {
            return;
        }

        clearTimeout(shortCutTimer);
        await new Promise((resolve) => {
            setTimeout(async function () {
                if (e.ctrlKey && (e.which || e.keyCode) === 66) {
                    shrinked = !shrinked;
                    return;
                }

                if (e.ctrlKey && (e.which || e.keyCode) === 48) {
                    await connections.addInitConnection();
                    return;
                }

                [1, 2, 3, 4, 5, 6, 7, 8, 9]
                    .map((index) => index + 48)
                    .forEach(async (keyCode) => {
                        if (e.ctrlKey && (e.which || e.keyCode) === keyCode) {
                            await connections.changeConnection(keyCode - 49);
                        }
                    });

                if (e.ctrlKey && (e.which || e.keyCode) === 87) {
                    await connections.removeConnection($currentConnectionIndex);
                }
                resolve();
            }, 100);
        });
    };

    let pageSearchTerm = "";
    let searchWaiter = null;
    const onSearch = (keyupEvent) => {
        if (searchWaiter) {
            clearTimeout(searchWaiter);
        }
        searchWaiter = setTimeout(() => {
            pageSearchTerm = keyupEvent.detail;
        }, 250);
    };
</script>

<section class="flex">
    {#if shrinked}
        <div>
            <div class="sticky box-padding">
                <button
                    title="maximize shift+b"
                    class="btn text"
                    on:click={() => (shrinked = false)}
                >
                    <Icon icon="open" />
                </button>
            </div>
        </div>
    {:else}
        <div>
            <div class="sticky box-padding">
                {#if $currentConnection.connectionInfo.database}
                    <TableNames bind:shrinked />
                {/if}
            </div>
        </div>
    {/if}
    <div class="flex-grow">
        {#if $currentConnection.connectionInfo.table}
            <div class="floating-header flex flex-align-center box-padding">
                <strong class="mr-2">
                    {$currentConnection.connectionInfo.table}
                </strong>
                {#each tabs as tab}
                    <button
                        on:click={() => setTabValue(tab.value)}
                        class="btn outlined mr-2 {tabValue === tab.value
                            ? 'active'
                            : ''}"
                    >
                        {tab.name}
                    </button>
                {/each}
                <InputText
                    bind:value={pageSearchTerm}
                    on:keyup={onSearch}
                    placeholder="Search in page"
                />
            </div>
            {#each tabs as tab}
                <div
                    class="box-padding fill-height {tab.value !== tabValue
                        ? 'display-none'
                        : ''}"
                >
                    <svelte:component
                        this={tab.component}
                        bind:pageSearchTerm
                    />
                </div>
            {/each}
        {/if}
    </div>
</section>

<style>
    .floating-header {
        position: sticky;
        top: 0;
        left: 0;
        z-index: 2;
        background-color: black;
    }
</style>
