<script>
    import Error from "./Error.svelte";
    import { connections } from "../stores/connections";

    export let err = null;
</script>

<div>
    <Error {err} />
    <div class="text-center mt-2">
        <button class="btn primary" on:click={connections.reconnect}>
            Try Again
        </button>
    </div>
</div>
