<script>
    import { snackbar } from "../stores/snackbar";

    let timer = null;
    $: {
        if ($snackbar) {
            clearTimeout(timer);
            timer = setTimeout(() => {
                snackbar.hide();
                timer = null;
            }, 1000);
        }
    }
</script>

<div class="snackbar-wrapper text-center">
    <span class="snackbar {$snackbar.show ? '' : 'hidden'} {$snackbar.color}">
        {$snackbar.message}
    </span>
</div>

<style>
    .snackbar-wrapper {
        width: 100%;
    }

    .snackbar {
        position: fixed;
        display: inline-block;
        top: 10px;
        padding: 10px 25px;
        z-index: 2;
    }

    .hidden {
        display: none;
    }

    .snackbar.info {
        color: white;
        background-color: rgb(0, 75, 0);
    }

    .snackbar.error {
        color: white;
        background-color: rgb(75, 0, 0);
    }
</style>
