<script>
    export let pageSearchTerm = "";

    import { currentConnection } from "../stores/connections";
    import RetryConnection from "./RetryConnection.svelte";
    import Loading from "./Loading.svelte";
    import Icon from "./Icon.svelte";
    import { showRowValue } from "../scripts/format";
    import { snackbar } from "../stores/snackbar";
    import { tableSearchTerm, tableSearchBy } from "../stores/tableSearch";
    import levenshtein from "js-levenshtein";

    let resultPromise = null;
    let offset = 0;
    let order = null;
    let hasPrev = false;
    let prevTable = null;
    const limit = 100;
    $: {
        if ($currentConnection.connectionInfo.table) {
            if (prevTable !== $currentConnection.connectionInfo.table) {
                onTableSelected();
            }

            hasPrev = offset > 0;
            resultPromise = $currentConnection.getTableRows(
                $currentConnection.connectionInfo.table,
                limit,
                offset,
                order
            );
        }
    }

    function onTableSelected() {
        offset = 0;
        order = null;
        prevTable = $currentConnection.connectionInfo.table;
        hasPrev = false;
    }

    function hasMoreRows(totalRowCount) {
        return offset + limit < totalRowCount;
    }

    function setOrderBy(column) {
        const o = order || {};
        if (!o || o.by !== column) {
            order = {
                by: column,
                direction: "DESC",
            };
            return;
        }

        if (o.by === column && o.direction === "DESC") {
            order = {
                by: column,
                direction: "ASC",
            };
            return;
        }

        order = null;
    }

    function getSortIconName(column) {
        const o = order || {};
        if (o.by !== column) {
            return "sort";
        }
        if (o.by === column && o.direction === "DESC") {
            return "desc";
        }
        return "asc";
    }

    function copyClipBoard(text) {
        var input = document.createElement("input");
        input.setAttribute("value", text);
        document.body.appendChild(input);
        input.select();
        document.execCommand("copy");
        document.body.removeChild(input);
        snackbar.show("Copied", "info");
    }

    $: filteredRows = (rows, columns) => {
        if (!pageSearchTerm) {
            return rows;
        }

        return rows.filter((row) => {
            const rowValues = columns.map((column) =>
                showRowValue(row[column])
            );
            return JSON.stringify(rowValues.join(" ")).includes(pageSearchTerm);
        });
    };

    async function columnSearch(column) {
        const databaseNames = (await $currentConnection.getAllTables()) || [];
        if (databaseNames.length === 0) {
            return;
        }

        if (databaseNames.length === 1) {
            tableSearchTerm.setSearchTerm(databaseNames[0]);
            return;
        }

        const candidateDatabaseName = column.replace(/_/g, "").toLowerCase();
        const scores = databaseNames
            .map((databaseName) => {
                return {
                    databaseName,
                    score: levenshtein(
                        candidateDatabaseName,
                        databaseName.replace(/_/g, "").toLowerCase()
                    ),
                };
            })
            .sort(function (scoreA, scoreB) {
                if (scoreA.score < scoreB.score) {
                    return -1;
                }
                if (scoreA.score === scoreB.score) {
                    return 0;
                }
                return 1;
            });

        tableSearchBy.setSearchBy("byName");
        tableSearchTerm.setSearchTerm(scores[0].databaseName);
    }
</script>

{#if !$currentConnection.connectionInfo.table}
    <div>Please select table</div>
{:else}
    {#await resultPromise}
        <div class="text-center">
            <Loading />
        </div>
    {:then result}
        <div class="floating-buttons mb-2">
            <button
                disabled={hasPrev ? "" : "disabled"}
                class="btn outlined"
                on:click={() => (offset -= limit)}
            >
                &lt;
            </button>
            <button
                disabled={hasMoreRows(result.count) ? "" : "disabled"}
                class="btn outlined"
                on:click={() => (offset += limit)}
            >
                &gt;
            </button>
        </div>
        <table class="table cell table-margin-bottom">
            <tbody>
                <tr>
                    {#each result.columns as column}
                        <td
                            class="clickable"
                            on:click={() => setOrderBy(column)}
                        >
                            <div class="flex flex-align-center">
                                <strong class="flex-grow">{column}</strong>
                                <Icon icon={getSortIconName(column)} />
                                <button
                                    on:click|stopPropagation={() =>
                                        copyClipBoard(column)}
                                    class="btn text icon-margin"
                                    title="copy"
                                >
                                    <Icon icon="copy" />
                                </button>
                                <button
                                    on:click|stopPropagation={() =>
                                        columnSearch(column)}
                                    class="btn text icon-margin"
                                    title="search reference database"
                                >
                                    <Icon icon="search" />
                                </button>
                            </div>
                        </td>
                    {/each}
                </tr>
                {#each filteredRows(result.rows, result.columns) as row}
                    <tr>
                        {#each result.columns as column}
                            <td
                                class="clickable"
                                title={"click to copy\n" +
                                    showRowValue(row[column])}
                                on:click={() =>
                                    copyClipBoard(showRowValue(row[column]))}
                            >
                                {showRowValue(row[column])}
                            </td>
                        {/each}
                    </tr>
                {/each}
            </tbody>
        </table>
    {:catch err}
        <RetryConnection {err} />
    {/await}
{/if}

<style>
    .floating-buttons {
        position: fixed;
        bottom: 5px;
        right: 10px;
        z-index: 2;
    }

    .table-margin-bottom {
        margin-bottom: 15px;
    }

    .icon-margin {
        margin-bottom: -3px;
    }
</style>
