<script>
    export let shrinked = false;

    import { connections, currentConnection } from "../stores/connections";
    import { tableSearchTerm, tableSearchBy } from "../stores/tableSearch";
    import InputText from "./InputText.svelte";
    import RetryConnection from "./RetryConnection.svelte";
    import Error from "./Error.svelte";
    import Loading from "./Loading.svelte";
    import Icon from "./Icon.svelte";

    let prevDatabase;
    let tablePromise;
    $: {
        if (prevDatabase !== $currentConnection.connectionInfo.database) {
            prevDatabase = $currentConnection.connectionInfo.database;
            tablePromise = $currentConnection.getAllTables();
        }
    }

    $: filteredTables = async (tables) => {
        if (!$tableSearchTerm) {
            return tables;
        }

        if ($tableSearchBy === "byName") {
            return (tables || []).filter((table) =>
                table.includes($tableSearchTerm)
            );
        }

        return await $currentConnection.searchTablesWithColumnName(
            $tableSearchTerm
        );
    };

    $: searchBoxPlaceholder = () => {
        return (tabs.find((t) => t.id === $tableSearchBy) || {}).placeholder;
    };

    function onKeyup(event) {
        const searchTerm = event.detail;
        tableSearchTerm.setSearchTerm(searchTerm);
    }

    let tabs = [
        {
            title: "by name",
            id: "byName",
            placeholder: "table name",
        },
        {
            title: "by column name",
            id: "byColumnName",
            placeholder: "exact column name",
        },
    ];
</script>

{#await tablePromise}
    <div class="text-center">
        <Loading />
    </div>
{:then tables}
    <div class="flex flex-align-center mb-1 pa-1">
        <strong class="flex-grow">Tables</strong>
        <button
            title="minimize"
            class="btn text"
            on:click={() => (shrinked = true)}
        >
            <Icon icon="shrink" />
        </button>
    </div>
    <hr class="mb-1" />
    {#if (tables || []).length > 0}
        <div class="mt-2" style="min-width: 230px;">
            {#each tabs as tab}
                <span
                    style="display: inline-block;"
                    class="clickable text-center pa-2 {$tableSearchBy === tab.id
                        ? 'active'
                        : ''}"
                    on:click={() => tableSearchBy.setSearchBy(tab.id)}
                >
                    {tab.title}
                </span>
            {/each}
        </div>
        <InputText
            classNames="block"
            placeholder={searchBoxPlaceholder()}
            on:keyup={onKeyup}
            value={$tableSearchTerm}
        />
    {/if}
    {#await filteredTables(tables) then ts}
        {#each ts as table}
            <div
                class="table-names clickable mb-1 pa-1 {table ===
                $currentConnection.connectionInfo.table
                    ? 'active'
                    : ''}"
                on:click={() => connections.selectTable(table)}
            >
                {table}
            </div>
        {/each}
    {:catch err}
        <Error {err} />
    {/await}
{:catch err}
    <RetryConnection {err} />
{/await}
