<script>
	import Connect from "./components/Connect.svelte";
	import Layout from "./components/Layout.svelte";
	import Databases from "./components/Databases.svelte";
	import { currentConnection } from "./stores/connections";
	import Snackbar from "./components/Snackbar.svelte";
	import ConnectionTabs from "./components/ConnectionTabs.svelte";
</script>

<main class="flex flex-column">
	<ConnectionTabs />
	{#if !$currentConnection.connection && !$currentConnection.connectionInfo}
		<Connect />
	{:else if $currentConnection.connectionInfo.database}
		<Layout />
	{:else}
		<Databases />
	{/if}
	<Snackbar />
</main>
